---
- name: Rename NAT adapter
  ansible.windows.win_shell: |
    $natMac = '{{ mac_nat_nic }}'.Replace(':','-')
    $natAdapter = Get-NetAdapter | where{$_.MacAddress -eq $natMac} | Select-Object -First 1
    if ($natAdapter -and $natAdapter.Name -ne 'nat') {
      Rename-NetAdapter -Name $natAdapter.Name -NewName 'nat' -Confirm:$false
    }
  become: yes
  become_user: admin
  become_method: runas

- name: Rename host-only adapter
  ansible.windows.win_shell: |
    $hostonlyMac = '{{ mac_hostonly_nic }}'.Replace(':','-')
    $hostonlyAdapter = Get-NetAdapter | where{$_.MacAddress -eq $hostonlyMac} | Select-Object -First 1
    if ($hostonlyAdapter -and $hostonlyAdapter.Name -ne 'hostonly') {
      Rename-NetAdapter -Name $hostonlyAdapter.Name -NewName 'hostonly' -Confirm:$false
    }
  become: yes
  become_user: admin
  become_method: runas

# Original tasks now safe
- name: Configure static IP on host-only adapter
  ansible.windows.win_shell: |
    Get-NetIPAddress -InterfaceAlias 'hostonly' -AddressFamily IPv4 | 
      Remove-NetRoute -Confirm:$false -ErrorAction SilentlyContinue;
    Get-NetIPAddress -InterfaceAlias 'hostonly' -AddressFamily IPv4 | 
      Remove-NetIPAddress -Confirm:$false -ErrorAction SilentlyContinue;
    New-NetIPAddress -InterfaceAlias 'hostonly' -IPAddress {{ hostonly_ip }} -PrefixLength 24 -DefaultGateway {{ default_gateway }} -AddressFamily IPv4;
  become: yes
  become_user: admin
  become_method: runas

- name: Set static DNS
  ansible.windows.win_dns_client:
    adapter_names: hostonly
    ipv4_addresses:
      - "{{ dns_ip }}"
  become: yes
  become_user: admin
  become_method: runas


- name: Download FlareVM install.ps1 to temp
  ansible.windows.win_get_url:
    url: https://raw.githubusercontent.com/mandiant/flare-vm/main/install.ps1
    dest: C:\Users\admin\Desktop\install.ps1

- name: Copy FlareVM installer custom-config.xml from host to target
  ansible.windows.win_copy:
    src: ../files/custom-config.xml
    dest: C:\Users\admin\Desktop\custom-config.xml

- name: Unblock install.ps1
  ansible.windows.win_shell: Unblock-File C:\Users\admin\Desktop\install.ps1

- name: Set ExecutionPolicy
  ansible.windows.win_shell: Set-ExecutionPolicy Unrestricted -Force

- name: Create Flare installer task
  community.windows.win_scheduled_task:
    name: FlareInstallerTask
    actions:
      - path: powershell.exe
        arguments: "-NoProfile -ExecutionPolicy Bypass -Command \"& { cd 'C:\\Users\\admin\\Desktop'; .\\install.ps1 {{ install_args }} }\""
        working_directory: "C:\\Users\\admin\\Desktop"
    triggers:
      - type: registration
    username: admin
    password: password
    logon_type: interactive_token
    run_level: highest
    state: present

- name: Wait for Flare-VM installation completion
  ansible.windows.win_stat:
    path: C:\ProgramData\_VM\failed_packages.txt
  register: log_file
  retries: 240
  delay: 60
  until: log_file.stat.exists

- name: Get failed packages content
  win_shell: 'type C:\ProgramData\_VM\failed_packages.txt'  
  register: content

- name: Display failed packages
  debug: 
    var: content.stdout

  


