---
- name: Configure static IP on Ethernet1
  ansible.windows.win_shell: |
    Get-NetIPAddress -InterfaceAlias 'Ethernet1' -AddressFamily IPv4 | 
      Remove-NetRoute -Confirm:$false -ErrorAction SilentlyContinue;
    Get-NetIPAddress -InterfaceAlias 'Ethernet1' -AddressFamily IPv4 | 
      Remove-NetIPAddress -Confirm:$false -ErrorAction SilentlyContinue;
    New-NetIPAddress -InterfaceAlias 'Ethernet1' -IPAddress 172.16.53.200 -PrefixLength 24 -DefaultGateway 172.16.53.100 -AddressFamily IPv4;
    Set-DnsClientServerAddress -InterfaceAlias 'Ethernet1' -ServerAddresses '172.16.53.100'
  become: yes
  become_user: admin
  become_method: runas

- name: Download FlareVM install.ps1 to temp
  ansible.windows.win_get_url:
    url: https://raw.githubusercontent.com/mandiant/flare-vm/main/install.ps1
    dest: C:\Users\admin\Desktop\install.ps1

- name: Copy FlareVM installer custom-config.xml from host to target
  ansible.windows.win_copy:
    src: ../files/custom-config.xml
    dest: C:\Users\admin\Desktop\custom-config.xml

- name: Unblock install.ps1
  ansible.windows.win_shell: Unblock-File C:\Users\admin\Desktop\install.ps1

- name: Set ExecutionPolicy
  ansible.windows.win_shell: Set-ExecutionPolicy Unrestricted -Force

- name: Create Flare installer task
  community.windows.win_scheduled_task:
    name: FlareInstallerTask
    actions:
      - path: powershell.exe
        arguments: "-NoProfile -ExecutionPolicy Bypass -Command \"& { cd 'C:\\Users\\admin\\Desktop'; .\\install.ps1 -password password -noWait -noChecks -noGui -noReboots -customConfig .\\custom-config.xml }\""
        working_directory: "C:\\Users\\admin\\Desktop"
    triggers:
      - type: registration
    username: admin
    password: password
    logon_type: interactive_token
    run_level: highest
    state: present

- name: Wait for Flare-VM installation completion
  ansible.windows.win_stat:
    path: C:\ProgramData\_VM\failed_packages.txt
  register: log_file
  retries: 240
  delay: 60
  until: log_file.stat.exists

- name: Get failed packages content
  win_shell: 'type C:\ProgramData\_VM\failed_packages.txt'  
  register: content

- name: Display failed packages
  debug: 
    var: content.stdout

  


