---
- name: Rename NAT adapter (all providers)
  ansible.windows.win_shell: |
    $normMac = '{{ mac_nat }}' -replace '[:-]' -replace '(.{2})(.{2})(.{2})(.{2})(.{2})(.{2})', '$1-$2-$3-$4-$5-$6'
    $normMac = $normMac.ToUpper()
    $adapter = Get-NetAdapter | Where-Object { $_.MacAddress -eq $normMac } | Select-Object -First 1
    if ($adapter -and $adapter.Name -ne 'nat') {
      Rename-NetAdapter -Name $adapter.Name -NewName 'nat' -Confirm:$false
    }
  become: yes
  become_user: '{{ user }}'
  become_method: runas

- name: Rename host-only adapter (all providers)
  ansible.windows.win_shell: |
    $normMac = '{{ mac_hostonly }}' -replace '[:-]' -replace '(.{2})(.{2})(.{2})(.{2})(.{2})(.{2})', '$1-$2-$3-$4-$5-$6'
    $normMac = $normMac.ToUpper()
    $adapter = Get-NetAdapter | Where-Object { $_.MacAddress -eq $normMac } | Select-Object -First 1
    if ($adapter -and $adapter.Name -ne 'hostonly') {
      Rename-NetAdapter -Name $adapter.Name -NewName 'hostonly' -Confirm:$false
    }
  become: yes
  become_user: '{{ user }}'
  become_method: runas

- name: Configure static IP on host-only adapter
  ansible.windows.win_shell: |
    Get-NetIPAddress -InterfaceAlias 'hostonly' -AddressFamily IPv4 | 
      Remove-NetRoute -Confirm:$false -ErrorAction SilentlyContinue;
    Get-NetIPAddress -InterfaceAlias 'hostonly' -AddressFamily IPv4 | 
      Remove-NetIPAddress -Confirm:$false -ErrorAction SilentlyContinue;
    New-NetIPAddress -InterfaceAlias 'hostonly' -IPAddress {{ hostonly_ip }} -PrefixLength 24 -DefaultGateway {{ default_gateway }} -AddressFamily IPv4;
  become: yes
  become_user: '{{ user }}'
  become_method: runas

- name: Set static DNS
  ansible.windows.win_dns_client:
    adapter_names: hostonly
    ipv4_addresses:
      - "{{ dns_ip }}"
  become: yes
  become_user: '{{ user }}'
  become_method: runas


- name: Download FlareVM install.ps1 to temp
  ansible.windows.win_get_url:
    url: https://raw.githubusercontent.com/mandiant/flare-vm/main/install.ps1
    dest: C:\Users\{{ user }}\Desktop\install.ps1

- name: Copy FlareVM installer custom-config.xml from host to target
  ansible.windows.win_copy:
    src: ../files/custom-config.xml
    dest: C:\Users\{{ user }}\Desktop\custom-config.xml

- name: Unblock install.ps1
  ansible.windows.win_shell: Unblock-File C:\Users\{{ user }}\Desktop\install.ps1

- name: Set ExecutionPolicy
  ansible.windows.win_shell: Set-ExecutionPolicy Unrestricted -Force

- name: Pause before Flare installer
  ansible.builtin.pause:
    seconds: 20

- name: Create Flare installer task
  community.windows.win_scheduled_task:
    name: FlareInstallerTask
    actions:
      - path: powershell.exe
        arguments: "-NoProfile -ExecutionPolicy Bypass -Command \"& { cd 'C:\\Users\\{{ user }}\\Desktop'; .\\install.ps1 {{ install_args }} }\""
        working_directory: "C:\\Users\\{{ user }}\\Desktop"
    triggers:
      - type: registration
    username: '{{ user }}'
    password: password
    logon_type: interactive_token
    run_level: highest
    state: present

- name: Wait for Flare-VM installation completion
  ansible.windows.win_stat:
    path: C:\ProgramData\_VM\failed_packages.txt
  register: log_file
  retries: 240
  delay: 60
  until: log_file.stat.exists

- name: Get failed packages content
  win_shell: 'type C:\ProgramData\_VM\failed_packages.txt'  
  register: content

- name: Display failed packages
  debug: 
    var: content.stdout

- name: Mount vmtools ISO
  community.windows.win_disk_image:
    image_path: "C:\\Users\\{{ user }}\\vmtools.iso"
    state: present
  ignore_errors: true
  register: disk_image_out

- name: Install VMWare guest additions
  ansible.windows.win_package:
    path: "{{ disk_image_out.mount_paths[0] }}\\setup.exe"
    arguments: /S /v/qn REBOOT=R
    state: present
  ignore_errors: true
  when: source_type == 'vmware-iso'

- name: Install VirtualBox Guest Additions
  ansible.windows.win_shell: |
    Start-Process "{{ disk_image_out.mount_paths[0] }}\\VBoxWindowsAdditions.exe" -ArgumentList "/S" -Wait
  ignore_errors: true
  when: source_type == 'virtualbox-iso'

- name: Unmount ISO
  community.windows.win_disk_image:
    image_path: "C:\\Users\\{{ user }}\\vmtools.iso"
    state: absent
  ignore_errors: true

- name: Reboot
  ansible.windows.win_reboot:

