---
- hosts: all
  gather_facts: no
  tasks:
    - name: Download FlareVM install.ps1 to temp
      ansible.windows.win_get_url:
        url: https://raw.githubusercontent.com/mandiant/flare-vm/main/install.ps1
        dest: C:\Users\admin\Desktop\install.ps1

    - name: Unblock install.ps1
      ansible.windows.win_shell: Unblock-File C:\Users\admin\Desktop\install.ps1

    - name: Set ExecutionPolicy
      ansible.windows.win_shell: Set-ExecutionPolicy Unrestricted -Force

    - name: Run the Flare installer script
      ansible.windows.win_shell: ".\\install.ps1 -password password -noWait -noGui -noChecks"
      args:
        chdir: "C:\\Users\\admin\\Desktop"
      async: 3600
      poll: 0

    - name: Wait for Flare-VM installation completion
      ansible.windows.win_stat:
        path: C:\ProgramData\_VM\failed_packages.txt
      register: log_file
      retries: 240
      delay: 60
      until: log_file.stat.exists