---
- hosts: all
  gather_facts: no
  tasks:
    - name: Create Flare installer task
      community.windows.win_scheduled_task:
        name: FlareInstallerTask
        actions:
          - path: powershell.exe
            arguments: "-NoProfile -ExecutionPolicy Bypass -Command \"& { cd 'C:\\Users\\admin\\Desktop'; .\\install.ps1 -password password -noWait -noChecks -noGui -customConfig .\\custom-config.xml }\""
            working_directory: "C:\\Users\\admin\\Desktop"
        triggers:
          - type: registration
        username: "admin"
        password: "password"  # Secure from CLI
        logon_type: interactive_token
        run_level: highest
        state: present

    - name: Start the task immediately
      community.windows.win_scheduled_task:
        name: FlareInstallerTask
        state: started
